@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: Inter;
}

/* common styles */
.mtb {
  margin-top: 120px;
}
.mt {
  margin-top: 50px;
}
.mb {
  margin-bottom: 50px;
}

/* nav styles */
#banner {
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url(/images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 600px;
  margin: 0 auto;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__sub--tittle {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  font-family: ;
}
.banner__tittle {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  width: 632px;
}
/* discount styles */
.discountTittle {
  color: rgb(255, 0, 0);
  font-size: 88px;
  font-weight: 700;
  text-align: center;
}
.discount__Sup--tittle {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.discountSubTittle {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.discountImage {
  text-align: center;
}
/* party styles */
.partyComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      90deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url(/images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: max(90%, 1200px);
  margin: 0 auto;
  border-radius: 16px;
  gap: 100px;
}
.partyTittle {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 900;
}
.partyDescription {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
}
.partyText {
  max-width: 40%;
  padding: 126px 126px;
}
.partyText a {
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  font-weight: 700;
}
.partyImage {
  max-width: fit-content;
}
/* venue styles */
.venuContainer {
}
.venuItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  background-size: cover;
  max-width: 90%;
  margin: 0 auto;
  padding: 100px 0px 100px 0px;
  text-align: center;
}
.details {
  font-size: 32px;
  font-weight: 600;
}

.details > span {
  font-size: 32px;
  font-weight: 600;
  color: rgb(255, 0, 0);
}
.btn {
  border-radius: 8px;
  background: rgb(255, 0, 0);
  padding: 16px 32px;
  border: none;
  color: #ffff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
/* best offer styles */

.best__offer--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  max-width: 90%;
  margin: 0 auto;
  padding: 50px 0px 50px 0px;
}
.comming__Soon {
  max-width: 390px;
}
.offer__Subtittle {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
}
.offer__Tittle {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 900;
}
.offer__Description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
}
.year {
  color: rgb(255, 0, 0);
  font-size: 48px;
  font-weight: 700;
}
.year__Description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  max-width: 270px;
}
.Offer__Image {
  border-radius: 100%;
  border: 15px solid rgb(255, 0, 0);
  padding: 50px;
}
/* holiday offer styles */
.holiday__context {
  text-align: center;
}
.holiday__subtittle {
  color: rgb(7, 2, 17);
  font-size: 24px;
  font-weight: 500;
}
.holiday__tittle {
  font-size: 72px;
  font-weight: 900;
  color: rgb(7, 2, 17);
}
.holiday__tittle span {
  color: rgb(255, 0, 0);
}
.holiday__description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  max-width: 50%;
  margin: 0 auto;
}
.holiday__image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  background-image: url(/images/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  border-radius: 16px 0px 16px 16px;
}
.discount {
  margin-bottom: 5%;
}
/* portfolio styles */
.portfolio__context {
  max-width: 90%;
  margin: 0 auto;
}
.portfolio__subtittle {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
}
.portfolio__tittle {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 900;
}
.portfolio__description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  max-width: 896px;
}
.gallery__container {
  max-width: 90%;
  margin: 0 auto;
}
.gallery__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.gallery__items img {
  width: 100%;
  background-size: cover;
}
/* newsletter styles */
.newsletter {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  max-width: 90%;
  margin: 0 auto;
}
.newsletter__container {
  padding: 80px 200px;
  text-align: center;
}
.newsletter__tittle {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 900;
}
.newsletter__description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
}
.subscribe {
  text-align: center;
  padding: 0px 0px 80px 0px;
  display: flex;
  justify-content: center;
}
.subscribe input[type="text"] {
  border-radius: 50px 0px 0px 50px;
  background: rgb(255, 255, 255);
  padding: 25px 30px;
  border: none;
  outline: none;
  color: rgba(7, 2, 17, 0.3);
  font-size: 18px;
  font-weight: 400;
}
.subscribe input[type="button"] {
  border-radius: 0px 50px 50px 0px;
  background: rgb(255, 0, 0);
  padding: 24px 56px;
  color: #ffff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
/* footer styles */
.foot {
  background: rgb(7, 2, 17);
}
.foot__container {
  color: #ffff;
  padding: 120px 140px;
}
.foot__top--content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 500px;
}
.left__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  width: 375px;
  line-height: 40px;
}
.right {
  text-align: right;
}
.right__one--text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
}
.right__two--text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
}

.right img {
  margin-right: 20px;
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.foot__middle--img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.right input[type="button"] {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  padding: 24px 56px;
  background: rgb(7, 2, 17);
  border: none;
  cursor: pointer;
}
